@{
    ViewBag.Title = "DIGPES";
}

<div class="jumbotron">
    <h2>Assistência Técnica</h2>
    <p class="lead">Pesquisa de Satisfação.</p>
    <br />
    <p>
        <a href="~/Avaliacao/Index" class="btn btn-info btn-sm btn">Pesquisas Realizadas</a>
        <a href="~/Avaliacao/Filter" class="btn btn-success btn-sm btn">Preencher Questionário</a>
    </p>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {


        });

    </script>
}